<div class="card-wide">
  <div class="card-wide-left">
    <h1 class="card-wide-title"><%= park.name %></h1>
    <%= image_tag 'https://images.unsplash.com/photo-1519331379826-f10be5486c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80', class:"card-wide-image" %>
  </div>
  <div class="card-wide-right">
    <div class="filler"></div>
    <p class="card-wide-description"><%= park.description %></p>
    <p><%= park.facilities %></p>
    <p><%= park.attractions %></p>
    <p class="card-wide-hours">Opening Hours: <%= park.opening_hours %></p>
    <% if current_user.favorited?(park) %>
        <p>Remove from favorites</p>
    <% else %>
      <%= link_to add_favorite_park_path(park), remote: true, method: :put do %>
        <p>Add to favorite</p>
      <% end %>
    <% end %> 
  </div>
</div>
