<h1>Create a new park</h1>

<%if current_user.admin? %>
  <%= simple_form_for @park do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description, as: :text %>
    <%= f.input :facilities, collection: Park::FACILITIES, as: :check_boxes %>
    <%= f.input :attractions, collection: Park::ATTRACTIONS, as: :check_boxes %>
    <%= f.input :best_season, collection: Park::BEST_SEASON %>
    <%= f.submit "Create" %>
  <% end %>
<% else %>
  <p>Only the admin can create a new park.</p>
<% end %>